<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <a [routerLink]="[ '/candidature/new', projet.codeProjet ]" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-user fa-sm text-red-50"></i> CANDIDATER</a>
</div>
<!-- Content Row 1 -->
<div class="row">
  <!-- Content Column -->
  <div class="col-lg-12 mb-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-uppercase ">Projet : {{projet.libelle}}  </h6>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-4 mb-2 mb-sm-0">
            <h4 class="small font-weight-bold">Nombre de places: {{projet.nbreFile}}</h4>
        <h4 class="small font-weight-bold"></h4>
        <div class="small font-weight-bold">Niveau: BAC+3 en Medecin Infirmier</div>

        <h4 class="small font-weight-bold">Date de debut de validité: {{projet.datedebut | date:'dd-MMM-yyyy'}}</h4>
        
        <h4 class="small font-weight-bold">Dossiers:</h4>
        <p>{{projet.documents}}</p>
          </div>
        <div class="col-sm-4 mb-2 mb-sm-0">
          <h4 class="small font-weight-bold">Specialité rechercher: Aide Soignant </h4>
        
          <h4 class="small font-weight-bold">Composition du Dossier: voir la liste des dossiers</h4>
          <div class="topbar-divider d-none d-sm-block"></div>
  
          <h4 class="small font-weight-bold">Date limite : {{projet.datefin | date:'dd-MMM-yyyy'}}</h4>
          
          <h4 class="small font-weight-bold">Dossiers:</h4>          </div>
        </div>
      </div>   
    </div>
  </div>
</div>
<!-- Content Row 2 Description détailés du projet -->

<div class="row">
  <!-- Content Column -->
  <div class="col-lg-12 mb-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-uppercase">  Description du projet {{projet.libelle}}</h6>
      </div>
      <div class="card-body">
        <p>
          L’institution GIP-PNVB ayant pris corps juridiquement a amorcé un élan d’organisation et de structuration interne et externe qui a permis la mise en place pratique des organes statutaires dirigeants (Assemblée Générale, Conseil d’Administration, Direction Générale), la dotation en ressources humaines de base, la création des Centres Régionaux de Volontariat (CRV) dans les douze (12) régions et la mobilisation de vingt-neuf mille neuf cent quatre (29904). 
        </p>
      </div>   
    </div>
  </div>
</div>