<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">CANDIDATURE</h1>
  <a [routerLink]="[ '/candidature', 'new' ]" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-user fa-sm text-red-50"></i> CANDIDATER</a>
</div>
<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-12 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Projet : {{projet.libelle}}</h6>
      </div>
      <div class="card-body">
        <h4 class="small font-weight-bold">Nombre de places :{{projet.nbreFile}}</h4>
        
        <h4 class="small font-weight-bold">Date de debut de validité: {{projet.datedebut | date:'yyyy-MMM-dd'}}</h4>
       
        <h4 class="small font-weight-bold">Date limite : {{projet.datefin | date:'yyyy-MMM-dd'}}</h4>
        
        <h4 class="small font-weight-bold">Dossiers:</h4>
        <p>{{projet.documents}}</p>
       
        
      </div>

      
    </div>


  </div>

</div>