<!-- DataTales Example -->
<div class="container-fluid">

  <div class="card shadow mb-4">
    <div class="card-header py-3">
     
      <a  class="btn btn-primary btn-circle btn-sm-2" [routerLink]="[ '/province', 'new' ]" >
        <i class="fas fa-plus"></i>
      </a>
    </div>
    <div class="card-body">
     
    </div>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Listes des Provinces</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered .spacer" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <td><input type="checkbox" class="select-all"
                ng-model="p.isDelete">
              <th>Province</th>
              <th>Région</th>
              <th align="center">Actif</th>
              <th align="center">Action</th>

            </tr>
          </thead>
          <tfoot>
            <tr>
              <td><input type="checkbox" class="select-all"
                ng-model="p.isDelete">
              <th>Province</th>
              <th>Région</th>
              <th align="center">Actif</th>
              <th align="center">Action</th>

            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let p of ListProvinces">
              <td><input type="checkbox" ng-model="p.isDelete">
              </td>
              <td>{{p.libelle}} </td>
              <td>{{p.region.libelle}} </td>
              <td align="center">True</td>
              <td align="center">
                <button type="button" 
												data-toggle="modal" data-target="#myModal"
												class="btn btn-primary btn-center btn-circle btn-sm"
												title="D&eacute;tails">
												<span class="fas fa-edit"></span>
                      </button>
                      <button class="btn btn-danger btn-circle" style="margin-right: 10px;" title="Supp"
                      (ng-click)="deleteRegion(r.id)">
                      <span class="fas fa-trash"></span>
                    </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>