<div>

    <div class="card o-hidden border-0 shadow-lg my-4 col-lg-12 ">
      <div class="card-body p-0 ">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center .bg-gradient-success">
                <h1 class="h4 text-gray-900 mb-4 ">Creation de compte
                </h1>
              </div>
  
              <div class="px-3 py-5 bg-gradient-danger text-white" *ngIf="submitted && erreur" >
                <p>
                  Une erreur a survenu lors de l'enregistrement.Veuillez reessayer svp.
                </p>
              </div>
              <div class="px-3 py-5 bg-gradient-success text-white" *ngIf="submitted && !erreur">
                <p>
                 Enregistrement reussi avec succes.
                <br/>
                </p>
              </div>
              <form class="user" (ngSubmit)="onSubmit()">
                <div class="form-group row" *ngFor="let c of candidat1 ">
  
                   
                  
                </div>
                
  
                <div class="form-group row">
  
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <label style="margin-left: 20px;">Nom</label>
                    <input type="text" id="nom" required [(ngModel)]="personne.nom" name="nom"
                    class=" form-control form-control-user text-center" [ngModelOptions]="{standalone: true}">
                     </div>  
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <label style="margin-left: 20px;">Prénom(s)</label>
                    <input type="text" id="prenom" required [(ngModel)]="personne.prenom" name="prenom"
                      class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                      >
                  </div> 
                  
                </div>

  
                <div class="form-group row">
  
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <label   style="margin-left: 20px;" >Email</label>
                    <input type="email" id="email" required [(ngModel)]="personne.email" name="email"
                      class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                      >
                  </div>
                  <div class="col-sm-4">
                    <label style="margin-left: 20px;" >Téléphone</label>
                    <input type="tel" id="tel" required [(ngModel)]="personne.tel1" name="tel"
                      class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                      >
                  </div>
                  
                  
                </div>
               
  
                <div class="form-group row">
  
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <label   style="margin-left: 20px;" >Mot dee passe</label>
                    <input type="password" id="password" required [(ngModel)]="personne.motDePasse" name="password"
                      class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                      >
                  </div>
                  <div class="col-sm-4">
                    <label style="margin-left: 20px;" >Repeter le mot de passe</label>
                    <input type="password" id="password2" required [(ngModel)]="motDePasse" name="password2"
                      class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                      >
                  </div>
                  
                  
                </div>
               
                <hr>
                <div class="form-group row">
                  <div class="col-sm-4">
                    <button class="btn btn-danger btn-user btn-block " [routerLink]="[ '/structures' ]">
                      Annuler
                    </button>
                  </div>
                  <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary btn-user btn-block ">
                      Enregistrer
                    </button>
                  </div>
  
                </div>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>