<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 text-uppercase">Liste des Projets</h1>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="right">
        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-4 small border-left-primary"
              placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary " style="margin-right: 10px;" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
              <button class="btn btn-warning btn-circle" style="margin-right: 10px;" itle="Actualiser"
                ng-click="refresh()">
                <span class="fas fa-sync"></span>
              </button>

              <button class="btn btn-primary btn-circle" [routerLink]="[ '/projet', 'new' ]" style="margin-right: 10px;"
                title="Nouveau">
                <span class="fas fa-plus"></span>
              </button>
              <button class="btn btn-danger btn-circle" style="margin-right: 10px;" title="Supp"
                (ng-click)="deleteRegion(r.id)">
                <span class="fas fa-trash"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-body">
    </div>
  </div>
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6  mb-2" *ngFor="let projet of ListProjets">
      <div class="card border-left-primary shadow h-100 py-3">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              </div>
              <div class="form-group row">
                <div class="col-sm-3 mb-2 mb-sm-0">
                  <a [routerLink]="[ '/detailsProjet', projet.codeProjet ]"
                    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                      class="fas fa-user fa-sm  text-uppercase"></i> Détails</a>
                </div>
                <div class="col-sm-4">
                  <h5> {{ projet.libelle }} </h5>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-600"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>