<div>

  <div class="card o-hidden border-0 shadow-lg my-4 col-lg-12 ">
    <div class="card-body p-0 ">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center .bg-gradient-success">
              <h1 class="h4 text-gray-900 mb-4 ">Formulaire de soummission d'une Candidature au Programme des Volontaires
              </h1>
            </div>
            <form class="user" (ngSubmit)="onSubmit()">
              <div class="form-group row" *ngFor="let c of candidat1 ">

                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label style="margin-left: 20px;">Nom</label>
                  <input type="text" id="nom" required [(ngModel)]="candidature.personne.nom" name="nom"
                  class=" form-control form-control-user text-center" [ngModelOptions]="{standalone: true}">
                   </div>  
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label style="margin-left: 20px;">Prénom(s)</label>
                  <input type="text" id="prenom" required [(ngModel)]="candidature.personne.prenom" name="prenom"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                    >
                </div>  
                <div class="col-sm-4">
                  <label style="margin-left: 20px;" >Sexe</label>
                  <input type="text" id="libelle" required [(ngModel)]="candidature.personne.sexe" name="libelle"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                    >
                </div>
              </div>
              
              <div class="form-group row">

                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label  for="libellespecialite" style="margin-left: 20px;" >Spécialité</label>
                  <select class=" form-control" (change)="choixSpec($event)" [(ngModel)]="specialite">
                    <option>Selectionner une Specialité</option>
                    <option *ngFor="let specialite of Listspecialites" [value]="specialite.codeSpecialite" >{{specialite.libelleLong}}</option>
                  </select>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label  for="nompersonne" style="margin-left: 20px;" >Nom</label>
                  <select class=" form-control" (change)="choixPersonne($event)" [(ngModel)]="personne">
                    <option>Selectionner une personne</option>
                    <option *ngFor="let personne of ListPersonnes" [value]="personne.codePersonne" >{{personne.nom}}</option>
                  </select>
                </div>
              </div>
             
              <div class="form-group row">

                
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label  for="libelleregion" style="margin-left: 20px;" >Région</label>
                  <select class=" form-control" (change)="choixRegion($event)" [(ngModel)]="region">
                    <option>Selectionner une region</option>
                    <option *ngFor="let region of ListRegions" [value]="region.codeRegion" >{{region.libelle}}</option>
                  </select>
                  
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <div class="col-sm-4">
                  <button class="btn btn-danger btn-user btn-block " [routerLink]="[ '/projets' ]">
                    Annuler
                  </button>
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary btn-user btn-block ">
                    Candidater
                  </button>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>