<div>

  <div class="card o-hidden border-0 shadow-lg my-4 col-lg-12 ">
    <div class="card-body p-0 ">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center .bg-gradient-success">
              <h1 class="h4 text-gray-900 mb-4 ">Formulaire de soummission d'une Candidature au Programme des Volontaires
              </h1>
            </div>
            <form class="user" (ngSubmit)="onSubmit()">
              <div class="form-group row" *ngFor="let c of candidat1 ">

                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label style="margin-left: 20px;">Nom</label>
                  <input type="text" id="nom" required [(ngModel)]="candidature.personne.nom" name="nom"
                  class=" form-control form-control-user text-center" [ngModelOptions]="{standalone: true}">
                   </div>  
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label style="margin-left: 20px;">Prénom(s)</label>
                  <input type="text" id="prenom" required [(ngModel)]="candidature.personne.prenom" name="prenom"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                    >
                </div>  
                <div class="col-sm-4">
                  <label style="margin-left: 20px;" >Sexe</label>
                  <input type="text" id="libelle" required [(ngModel)]="candidature.personne.sexe" name="libelle"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                    >
                </div>
              </div>
              
              <div class="form-group row">

                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label  for="codeSpecialite" style="margin-left: 20px;" >Specialité</label>
                  <input type="text" id="specialite" required [(ngModel)]="candidature.specialite" name="specialite"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                    >
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label style="margin-left: 20px;" >Date Dépot</label>
                  <input type="date" [(ngModel)]="candidature.dateDepot" name="date"
                    class="form-control form-control-user text-center" id="date"
                    [ngModelOptions]="{standalone: true}" placeholder="">
                </div>
                <div class="col-sm-4">
                  <label style="margin-left: 20px;" >Nationnalité</label>
                  <input type="text" id="nationalite" required [(ngModel)]="candidature.nationalite" name="nationalite"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                    >
                </div>
              </div>
             
              <div class="form-group row">

                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label style="margin-left: 20px;" >Joindre des Fichiers</label>
                  <input type="text" [(ngModel)]="candidature.fichier" name="fichier"
                    class="form-control form-control-user text-center .text-gray-900" id="fichier"
                    [ngModelOptions]="{standalone: true}" placeholder="">
                </div>
              
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label  for="libelle" style="margin-left: 20px;" >Région souhaitée</label>
                  <input type="text" id="libelleRegion" required [(ngModel)]="candidature.region.libelle" name="nationalite"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                    >
                  
                </div>
              <div>
                
              </div>
                <div class="col-sm-4">
                  <label style="margin-left: 20px;" >Téléphone</label>
                  <input type="text" id="tel" required [(ngModel)]="telephone" name="tel"
                    class=" form-control-user text-center" [ngModelOptions]="{standalone: true}"
                  >
                </div>
              </div>
             
              <hr>
              <div class="form-group row">
                <div class="col-sm-4">
                  <button class="btn btn-danger btn-user btn-block " [routerLink]="[ '/candidatures' ]">
                    Annuler
                  </button>
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary btn-user btn-block ">
                    Soumettre
                  </button>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>