<div>

  <div class="card o-hidden border-0 shadow-lg my-4 col-lg-12 ">
    <div class="card-body p-0 ">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center .bg-gradient-success">
              <h1 class="h4 text-gray-900 mb-4 ">Lancement d'un appel à candidature
              </h1>
            </div>

            <div class="px-3 py-5 bg-gradient-danger text-white" *ngIf="submitted && erreur" >
              <p>
                Une erreur a survenu lors de l'enregistrement.Veuillez reessayer svp.
              </p>
            </div>
            <div class="px-3 py-5 bg-gradient-success text-white" *ngIf="submitted && !erreur">
              <p>
               Enregistrement reussi avec succes.
              <br/>
              </p>
            </div>
            <form class="user" (ngSubmit)="onSubmit()">
            
              <div class="form-group row">

                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label style="margin-left: 20px;">Libellé</label>
                  <input type="text" id="libelle" required [(ngModel)]="projet.libelle" name="libelle"
                  class=" form-control form-control-user text-center" [ngModelOptions]="{standalone: true}">
                </div>  
                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label style="margin-left: 20px;">Nombre de places</label>
                  <input type="text" id="nombre_place" required [(ngModel)]="projet.nbreFile" name="nombre_place"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                    >
                </div> 
                
              </div>


              <div class="form-group row">

                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label   style="margin-left: 20px;" >Date de début</label>
                  <input type="date" id="dateDebut" required [(ngModel)]="projet.datedebut" name="datedebut"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                    >
                </div>
                <div class="col-sm-4">
                  <label style="margin-left: 20px;" >Date de clôture du projet</label>
                  <input type="date" id="datefin" required [(ngModel)]="projet.datefin" name="datefin"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                    >
                </div>
                
                
              </div>
             

              <div class="form-group row">

                <div class="col-sm-4 mb-3 mb-sm-0">
                  <label   style="margin-left: 20px;" >Documents</label>
                  <textarea  id="documents" required [(ngModel)]="projet.documents" name="documents"
                    class="form-control form-control-user text-center" [ngModelOptions]="{standalone: true}"
                     cols="6" rows="6"></textarea>
                </div>
                
                
              </div>
             
              <hr>
              <div class="form-group row">
                <div class="col-sm-4">
                  <button class="btn btn-danger btn-user btn-block " type="reset">
                    Annuler
                  </button>
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary btn-user btn-block ">
                    Publier
                  </button>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>